version: 2.1
commands:
  early_return_for_forked_pull_requests:
    description: >-
      If this build is from a fork, stop executing the current job and return success.
      This is useful to avoid steps that will fail due to missing credentials.
    steps:
      - run:
          name: Early return if this build is from a forked PR
          command: |
            if [ -n "$CIRCLE_PR_NUMBER" ]; then
              echo "Nothing to do for forked PRs, so marking this step successful"
              circleci step halt
            fi
jobs:
  build:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1
      - image: redislabs/redistimeseries:edge
      
    working_directory: ~/repo

    steps:
      - checkout

      - run: dotnet restore
      - run: dotnet add NRedisTimeSeries.Test package coverlet.collector

      # run tests!

      - run: dotnet test --collect:"XPlat Code Coverage"
      - early_return_for_forked_pull_requests
      - run:
          name: codecov
          command: |
            curl -s https://codecov.io/bash > codecov
            chmod +x codecov
            ./codecov -t ${CODECOV_TOKEN}
  publish:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1

    working_directory: ~/repo

    steps:
      - checkout
      - run: dotnet restore
      - run: dotnet pack --configuration release
      - run:
          name: Publish nuget package
          command: |
            cd NRedisTimeSeries
            dotnet pack --configuration release --output .
            dotnet nuget push *.nupkg -k $NugetKey -s https://api.nuget.org/v3/index.json

workflows:
  version: 2
  commit:
    jobs:
      - build
      - publish:
          requires:
            - build
          filters:
            branches:
              only: master

  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build
